.contenedor-calculadora{
  
  width: 400px;
  height: 580px;
  padding: 14px;
  
  border-radius: 20px;
  border: 3px solid #fafafa10;
  margin: 0 auto;

}
.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.glass-effect{
  background: #fafafa10;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
}
