.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
  background: rgba(255, 255, 255, 0.7); /* Fondo con opacidad */
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
}

.titulo-tareas {
  color: #ffffff; /* Texto blanco para contrastar con el fondo */
  font-size: 25px;
  text-align: center;
  margin: 20px 0;
}

